.complete {
    background-color: #99ffcc;
}

tbody {
    background-color: #F0FFFF;
    font-family: 'Gotu', sans-serif;
}

td {
    word-wrap: break-word;
}

thead {
    background-color: #2F4F4F;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-align: center;
}

header {
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
}

#addTask {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

body {
    background-image: linear-gradient( #659dbd, #fbeec1 );
}

input {
    text-align: center;
}

tbody tr {
border-bottom: .1rem dotted;
background-color: #f5f5f5;
border-color: #ffaa9f;
}

#addTask {
    color: white;
    font-family: 'Anton', sans-serif;
}

.check{
    background: url(https://png.pngtree.com/png-vector/20190228/ourmid/pngtree-check-mark-icon-design-template-vector-isolated-png-image_711433.jpg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

label {
    margin-left: .5rem;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
    word-wrap: break-word;
}

.modal-confirm {		
    color: #636363;
    width: 25rem;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}

.modal-confirm .btn-info {
    background: #c1c1c1;
}

.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
